body {
  font-family: "Lato", sans-serif;
}
a {
  color: #b71a4c;
}
.front-indicator {
  width: 145px;
  margin: 5px 32px 15px 32px;
  background-color: #f6f6f6;
  color: #adadad;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
}
.wrapper {
  width: 100%;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}
.booking-details {
  /* float: left; */
  text-align: left;
  margin-left: 35px;
  font-size: 12px;
  /* position: relative; */
  /* height: 401px; */
  width: inherit;
}
.booking-details h2 {
  margin: 25px 0 20px 0;
  font-size: 17px;
}
.booking-details h3 {
  margin: 5px 5px 0 0;
  font-size: 14px;
  width: inherit;
}
div.seatCharts-cell {
  color: #182c4e;
  height: 25px;
  width: 25px;
  line-height: 25px;
}
div.seatCharts-seat {
  color: #ffffff;
  cursor: pointer;
}
div.seatCharts-row {
  height: 35px;
}
div.seatCharts-seat.available {
  background-color: #b9dea0;
}
div.seatCharts-seat.available.driver-class {
  /* 	background: url(vip.png); */
  background-color: #3a78c3;
}
div.seatCharts-seat.driver.driver-class {
  /* 	background: url(vip.png); */
  background-color: #3a78c3;
}
div.seatCharts-seat.focused {
  background-color: #76b474;
}
div.seatCharts-seat.selected {
  background-color: #e6cac4;
}
div.seatCharts-seat.unavailable {
  background-color: #472b34;
}
div.seatCharts-container {
  border-right: 1px dotted #adadad;
  width: 200px;
  padding: 20px;
  float: left;
  transform: rotate(-90deg);
  transform-origin: top;
  top: 200px;
  position: relative;
}
div.seatCharts-legend {
  padding-left: 0px;
  /* position: absolute; */
  bottom: 16px;
}
ul.seatCharts-legendList {
  padding-left: 0px;
}
span.seatCharts-legendDescription {
  margin-left: 5px;
  line-height: 30px;
}
.checkout-button {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}
#selected-seats {
  max-height: 90px;
  overflow-y: scroll;
  overflow-x: none;
  width: 170px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  margin: auto;
}

.col {
  flex: 50%;
}

.col-12 {
  flex: 100%;
}
